<a href="https://colab.research.google.com/github/Guilherme774/Data-Science-and-Machine-Learning-Projects/blob/master/MachineLearning_Heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
import io

uploaded = files.upload()

Saving heart_failure.csv to heart_failure.csv

In [ ]:
heart = pd.read_csv(io.BytesIO(uploaded['heart_failure.csv']))
heart.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

In [ ]:
y = heart['DEATH_EVENT']
x = heart.drop('DEATH_EVENT', axis=1)

In [ ]:
y

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [ ]:
x

      age  anaemia  creatinine_phosphokinase  ...  sex  smoking  time
0    75.0        0                       582  ...    1        0     4
1    55.0        0                      7861  ...    1        0     6
2    65.0        0                       146  ...    1        1     7
3    50.0        1                       111  ...    1        0     7
4    65.0        1                       160  ...    0        0     8
..    ...      ...                       ...  ...  ...      ...   ...
294  62.0        0                        61  ...    1        1   270
295  55.0        0                      1820  ...    0        0   271
296  45.0        0                      2060  ...    0        0   278
297  45.0        0                      2413  ...    1        1   280
298  50.0        0                       196  ...    1        1   285

[299 rows x 12 columns]

In [ ]:
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [ ]:
x_treino.shape

(209, 12)

In [ ]:
x_teste.shape

(90, 12)

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier(n_estimators=100)
modelo.fit(x_treino, y_treino)

resultado = modelo.score(x_teste, y_teste)
print('Acurácia:', resultado*100)

Acurácia: 83.33333333333334

In [ ]:
y_teste[20:25]

17     1
216    0
37     1
88     0
165    1
Name: DEATH_EVENT, dtype: int64

In [ ]:
x_teste[20:25]

      age  anaemia  creatinine_phosphokinase  ...  sex  smoking  time
17   45.0        0                       582  ...    1        0    14
216  70.0        0                      1202  ...    0        0   196
37   82.0        1                       855  ...    0        0    30
88   44.0        0                        84  ...    1        0    79
165  80.0        0                       776  ...    0        0   130

[5 rows x 12 columns]

In [ ]:
previsoes = modelo.predict(x_teste[20:25])

In [ ]:
previsoes

array([1, 0, 1, 0, 0])