<a href="https://colab.research.google.com/github/Guilherme774/Data-Science-and-Machine-Learning-Projects/blob/master/MachineLearning_Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files

uploaded = files.upload()

Saving wine_dataset.csv to wine_dataset.csv

In [ ]:
import io
vinio = pd.read_csv(io.BytesIO(uploaded['wine_dataset.csv']))
vinio.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [ ]:
vinio['style'] = vinio['style'].replace('red', 0)

In [ ]:
vinio['style'] = vinio['style'].replace('white', 1)

In [ ]:
#Separando variáveis em preditoras e variável alvo
y = vinio['style'] #mostra só a coluna style
x = vinio.drop('style', axis = 1) #mostra todas as colunas menos a style

In [ ]:
y

0       0
1       0
2       0
3       0
4       0
       ..
6492    1
6493    1
6494    1
6495    1
6496    1
Name: style, Length: 6497, dtype: int64

In [ ]:
x

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
3              11.2              0.28         0.56  ...       0.58      9.8        6
4               7.4              0.70         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
6492            6.2              0.21         0.29  ...       0.50     11.2        6
6493            6.6              0.32         0.36  ...       0.46      9.6        5
6494            6.5              0.24         0.19  ...       0.46      9.4        6
6495            5.5              0.29         0.30  ...       0.38     12.8        7
6496            6.0              0.21         0.38  ...       0.32     11.8        6

[6497 rows x 12 columns]

In [ ]:
from sklearn.model_selection import train_test_split

#criando os conjuntos de treino e teste:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)
#utilizará 30%(0.3) dos dados para testar e os outros 70% para treinar

In [ ]:
x_treino.shape

(4547, 12)

In [ ]:
x_teste.shape

(1950, 12)

In [ ]:
#Essa célula é a parte do Machine Learning
from sklearn.ensemble import ExtraTreesClassifier
#Criação do modelo:
modelo = ExtraTreesClassifier(n_estimators=100)#n_estimators=100, para evitar mensagem de erro
modelo.fit(x_treino,y_treino)

#Imprimindo resultados:
resultado = modelo.score(x_teste, y_teste)
print('Acurácia:', resultado*100)#*100, para poder ter uma melhor visualização da porcentagem acertada

Acurácia: 99.6923076923077

In [ ]:
y_teste[400:403]#seleciona amostra aleatóriamente, dos dados que ele não treinou

2752    1
4634    1
3501    1
Name: style, dtype: int64

In [ ]:
x_teste[400:403]#seleciona amostra aleatóriamente, dos modelos que o modelo não treinou

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
2752            5.3             0.395         0.07  ...       0.35     10.6        6
4634            6.0             0.240         0.33  ...       0.50     11.3        7
3501            8.8             0.230         0.35  ...       0.49      9.1        6

[3 rows x 12 columns]

In [ ]:
previsoes = modelo.predict(x_teste[400:403])

In [ ]:
previsoes

array([1, 1, 1])